<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>captchaBreaker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrap" class="container">
    <div class="jumbotron">
        <h1>captchaBreaker</h1>
        <p>打码平台</p>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form role="form">
            <div class="form-group">
                <label for="user_name">用户名</label><input class="form-control" v-model="user.user_name" id="user_name" type="text" />
            </div>
            <div class="form-group">
                <label for="password">密码</label><input class="form-control" v-model="user.password" id="password" type="password" />
            </div>
            <div class="form-group">
                <label for="email">邮箱</label><input class="form-control" v-model="user.mail" id="email" type="email">
            </div>
            <div class="form-group">
                <label>用户类型</label>
                打码人员
                <input v-model="user.role" type="radio" value="打码人员" checked="checked">
                请求人员
                <input v-model="user.role" type="radio" value="请求人员">
                管理员
                <input v-model="user.role" type="radio" value="管理员">
            </div>
            <button class="btn btn-default" @click="register" type="button">提交</button>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script>
    var app = new Vue({
        el:"#wrap",
        data:{
            user:{}
        },
        methods:{
            register(){
                console.log(this.user);
                axios.post("/register",this.user).then(res=>{
                    console.log(res.data);
                    if (res.data.status == "200"){
                        alert(res.data.message + "，点击确定进入登录页面！");
                        location.href = "/index.html";
                    }else {
                        alert(res.data.message + "，点击确定重新注册！");
                    }
                });
            }
        }
    })
</script>
</html>